mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin picture(path, className)
  picture(class=className)
    source(srcset=require(`images/${path}320.jpg`) media="screen and (max-width: 480px)")
    source(srcset=require(`images/${path}768.jpg`) media="screen and (max-width: 768px)")
    source(srcset=require(`images/${path}1200.jpg`) media="screen and (max-width: 1200px)")
    source(srcset=require(`images/${path}1800.jpg`) media="screen and (max-width: 1800px)")
    img(srcset=require(`images/${path}1800.jpg`) class=className alt="My default image")